.item {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 4px;
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
  margin-right: 5px;
}

.value {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
